In [1]:
import pandas as pd
from pathlib import Path

# Column Manipulation

In [2]:
csvpath = Path("../Resources/customers.csv")

In [3]:
customer_dataframe = pd.read_csv(csvpath)
customer_dataframe.head()

,FullName,Email,Address,Zip,CreditCard,Balance
0,Altha Frederick,unhideable1966@gmail.com,67 John Maher Extension,31353,2524 2317 2139 4751,21511
1,Nickolas Harvey,allgood1803@outlook.com,1200 Madera Plaza,1922,4756 0997 9568 1329,13850
2,Jesusita Kinney,satsumas1954@yahoo.com,943 Gibb Highway,41535,3717 863466 48574,21254
3,Mose Gordon,antifowl1875@gmail.com,1073 Fell Trace,16098,5413 1700 6989 2835,5221
4,Cesar Valentine,acetaminol1979@yahoo.com,805 Marshall Promenade,99895,5173 4883 9215 4743,8300

### Replace Columns

In [4]:
# Display column names
customer_dataframe.columns

Index(['FullName', 'Email', 'Address', 'Zip', 'CreditCard', 'Balance'], dtype='object')

In [5]:
# Rewrite the column names
customer_dataframe.columns = ['Full Name', 'Email', 'Address', 'Zip Code', 'Credit Card Number', 'Account Balance']

### Rename Columns

In [10]:
customer_dataframe.rename(columns={
    'Full Name': 'full_name',
    'Credit Card Number': 'credit_card_number'
}
)

,Full Name,Email,Address,Zip Code,Credit Card Number,Account Balance
0,Altha Frederick,unhideable1966@gmail.com,67 John Maher Extension,31353,2524 2317 2139 4751,21511
1,Nickolas Harvey,allgood1803@outlook.com,1200 Madera Plaza,1922,4756 0997 9568 1329,13850
2,Jesusita Kinney,satsumas1954@yahoo.com,943 Gibb Highway,41535,3717 863466 48574,21254
3,Mose Gordon,antifowl1875@gmail.com,1073 Fell Trace,16098,5413 1700 6989 2835,5221
4,Cesar Valentine,acetaminol1979@yahoo.com,805 Marshall Promenade,99895,5173 4883 9215 4743,8300
...,...,...,...,...,...,...
95,Crystle Larson,plantula1818@live.com,1317 Cesar Chavez On Brae,74413,3474 949615 85541,5091
96,Jetta Davenport,doolittle1818@yandex.com,618 Williams Terrace,73152,4711 5533 4972 2249,16509
97,Dallas Johnston,mosso1961@live.com,324 Tenny Line,88215,3794 280688 77410,24196
98,Roberto Daugherty,ovenful1914@yandex.com,1058 Marengo Manor,33903,4972 5355 6633 9108,18828
99,Abel Walters,esson1909@yandex.com,89 Rivera Bypass,39186,3727 728484 48704,3400

### Reorder Columns

In [12]:
customer_dataframe.columns

Index(['Full Name', 'Email', 'Address', 'Zip Code', 'Credit Card Number',
       'Account Balance'],
      dtype='object')

In [21]:
customer_dataframe = customer_dataframe[['Email', 'Full Name', 'Zip Code', 'Address', 'Credit Card Number',
       'Account Balance']]

,Email,Full Name,Zip Code,Address,Credit Card Number,Account Balance
0,unhideable1966@gmail.com,Altha Frederick,31353,67 John Maher Extension,2524 2317 2139 4751,21511
1,allgood1803@outlook.com,Nickolas Harvey,1922,1200 Madera Plaza,4756 0997 9568 1329,13850
2,satsumas1954@yahoo.com,Jesusita Kinney,41535,943 Gibb Highway,3717 863466 48574,21254
3,antifowl1875@gmail.com,Mose Gordon,16098,1073 Fell Trace,5413 1700 6989 2835,5221
4,acetaminol1979@yahoo.com,Cesar Valentine,99895,805 Marshall Promenade,5173 4883 9215 4743,8300
...,...,...,...,...,...,...
95,plantula1818@live.com,Crystle Larson,74413,1317 Cesar Chavez On Brae,3474 949615 85541,5091
96,doolittle1818@yandex.com,Jetta Davenport,73152,618 Williams Terrace,4711 5533 4972 2249,16509
97,mosso1961@live.com,Dallas Johnston,88215,324 Tenny Line,3794 280688 77410,24196
98,ovenful1914@yandex.com,Roberto Daugherty,33903,1058 Marengo Manor,4972 5355 6633 9108,18828
99,esson1909@yandex.com,Abel Walters,39186,89 Rivera Bypass,3727 728484 48704,3400

### Create Columns

In [23]:
customer_dataframe['Account Balance ($1K)'] = customer_dataframe['Account Balance'] / 1000
customer_dataframe

,Full Name,Email,Address,Zip Code,Credit Card Number,Account Balance,Account Balance ($1K)
0,Altha Frederick,unhideable1966@gmail.com,67 John Maher Extension,31353,2524 2317 2139 4751,21511,21.511
1,Nickolas Harvey,allgood1803@outlook.com,1200 Madera Plaza,1922,4756 0997 9568 1329,13850,13.850
2,Jesusita Kinney,satsumas1954@yahoo.com,943 Gibb Highway,41535,3717 863466 48574,21254,21.254
3,Mose Gordon,antifowl1875@gmail.com,1073 Fell Trace,16098,5413 1700 6989 2835,5221,5.221
4,Cesar Valentine,acetaminol1979@yahoo.com,805 Marshall Promenade,99895,5173 4883 9215 4743,8300,8.300
...,...,...,...,...,...,...,...
95,Crystle Larson,plantula1818@live.com,1317 Cesar Chavez On Brae,74413,3474 949615 85541,5091,5.091
96,Jetta Davenport,doolittle1818@yandex.com,618 Williams Terrace,73152,4711 5533 4972 2249,16509,16.509
97,Dallas Johnston,mosso1961@live.com,324 Tenny Line,88215,3794 280688 77410,24196,24.196
98,Roberto Daugherty,ovenful1914@yandex.com,1058 Marengo Manor,33903,4972 5355 6633 9108,18828,18.828
99,Abel Walters,esson1909@yandex.com,89 Rivera Bypass,39186,3727 728484 48704,3400,3.400

### Split Columns

In [28]:
names = customer_dataframe["Full Name"].str.split(" ", expand=True)

In [30]:
customer_dataframe['First'] = names[0]
customer_dataframe['Last'] = names[1]

In [31]:
customer_dataframe

,Full Name,Email,Address,Zip Code,Credit Card Number,Account Balance,Account Balance ($1K),First,Last
0,Altha Frederick,unhideable1966@gmail.com,67 John Maher Extension,31353,2524 2317 2139 4751,21511,21.511,Altha,Frederick
1,Nickolas Harvey,allgood1803@outlook.com,1200 Madera Plaza,1922,4756 0997 9568 1329,13850,13.850,Nickolas,Harvey
2,Jesusita Kinney,satsumas1954@yahoo.com,943 Gibb Highway,41535,3717 863466 48574,21254,21.254,Jesusita,Kinney
3,Mose Gordon,antifowl1875@gmail.com,1073 Fell Trace,16098,5413 1700 6989 2835,5221,5.221,Mose,Gordon
4,Cesar Valentine,acetaminol1979@yahoo.com,805 Marshall Promenade,99895,5173 4883 9215 4743,8300,8.300,Cesar,Valentine
...,...,...,...,...,...,...,...,...,...
95,Crystle Larson,plantula1818@live.com,1317 Cesar Chavez On Brae,74413,3474 949615 85541,5091,5.091,Crystle,Larson
96,Jetta Davenport,doolittle1818@yandex.com,618 Williams Terrace,73152,4711 5533 4972 2249,16509,16.509,Jetta,Davenport
97,Dallas Johnston,mosso1961@live.com,324 Tenny Line,88215,3794 280688 77410,24196,24.196,Dallas,Johnston
98,Roberto Daugherty,ovenful1914@yandex.com,1058 Marengo Manor,33903,4972 5355 6633 9108,18828,18.828,Roberto,Daugherty
99,Abel Walters,esson1909@yandex.com,89 Rivera Bypass,39186,3727 728484 48704,3400,3.400,Abel,Walters

### Delete Columns

In [34]:
customer_dataframe = customer_dataframe.drop(columns=['First', 'Last'])

KeyError: "['First' 'Last'] not found in axis"

In [35]:
customer_dataframe

,Full Name,Email,Address,Zip Code,Credit Card Number,Account Balance,Account Balance ($1K)
0,Altha Frederick,unhideable1966@gmail.com,67 John Maher Extension,31353,2524 2317 2139 4751,21511,21.511
1,Nickolas Harvey,allgood1803@outlook.com,1200 Madera Plaza,1922,4756 0997 9568 1329,13850,13.850
2,Jesusita Kinney,satsumas1954@yahoo.com,943 Gibb Highway,41535,3717 863466 48574,21254,21.254
3,Mose Gordon,antifowl1875@gmail.com,1073 Fell Trace,16098,5413 1700 6989 2835,5221,5.221
4,Cesar Valentine,acetaminol1979@yahoo.com,805 Marshall Promenade,99895,5173 4883 9215 4743,8300,8.300
...,...,...,...,...,...,...,...
95,Crystle Larson,plantula1818@live.com,1317 Cesar Chavez On Brae,74413,3474 949615 85541,5091,5.091
96,Jetta Davenport,doolittle1818@yandex.com,618 Williams Terrace,73152,4711 5533 4972 2249,16509,16.509
97,Dallas Johnston,mosso1961@live.com,324 Tenny Line,88215,3794 280688 77410,24196,24.196
98,Roberto Daugherty,ovenful1914@yandex.com,1058 Marengo Manor,33903,4972 5355 6633 9108,18828,18.828
99,Abel Walters,esson1909@yandex.com,89 Rivera Bypass,39186,3727 728484 48704,3400,3.400

#### Exporting a Dataframe

In [36]:
customer_dataframe.to_csv("customer_reworked.csv")

In [37]:
customer_dataframe.loc[98]

Full Name                     Roberto Daugherty
Email                    ovenful1914@yandex.com
Address                      1058 Marengo Manor
Zip Code                                  33903
Credit Card Number          4972 5355 6633 9108
Account Balance                           18828
Account Balance ($1K)                    18.828
Name: 98, dtype: object